html {
  margin: 0;
  padding: 0;
  width:100%;
}

a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  font-family: arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #666;
}

#navbar {
  float: right;
}

#app-icon, #prof-icon, #notif-icon {
  display: inline-block;
}

#app-icon, #prof-icon {
  width: 30px;
  height: 30px;
}

#app-icon, #notif-icon {
  background: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
}

#prof-icon {
  background: url(https://lh3.googleusercontent.com/-Ozdu7YhO1CQ/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF7SDcpt9QaZwuQzOjnyiVa7gBv5Qw/s32-c-mo/photo.jpg);
}

#app-icon {
  background-position: -132px -38px;
  opacity: 0.55;
}

#notif-icon {
  background-position: -194px -21px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.55);
  background-size: 528px 68px;
  margin: 5px;
  padding: 0 2px;
  width: 16px;
  height: 20px;
}

#prof-icon {
  background-image: url(https://lh3.googleusercontent.com/-Ozdu7YhO1CQ/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF7SDcpt9QaZwuQzOjnyiVa7gBv5Qw/s32-c-mo/photo.jpg);
  border-radius: 50%;
}
